pre {
  font-size: 18px;
  line-height: 21px;
}
iframe {
  height: 615px;
  width: 100%;
  margin-top: -45px;
}
.title-slide hgroup h1 {
  color: #1a81c2;
  font-size: 54px;
}
.title-slide hgroup p {
    font-size: 32px;
    color: rgb(0,0,0);
}
h2 {
  color: #87b13f;
}
slides > slide {
    color: rgb(0,0,0);
}
ul > li:before {
    content: "•";
    color: #1a81c2;
}
